.LocationTable {
    margin-top: 1rem;
}

.LocationTable table {
    border: solid 2px gray;
}

.LocationTable thead th {
    padding: 0.5em;
    border-right: solid 1px gray;
    border-bottom: solid 2px gray;
    font-weight: bold;
    vertical-align: text-top;
}

.LocationTable tbody td {
    padding: 0.5em;
    border-top: 2px solid gray;
    border-right: 1px solid gray;
}

.LocationTable .expander {
    font-size: 90%;
}

.LocationTable .expander > td {
    padding: 0;
    border-top: 1px solid gray;
}