.LocationTable {
    padding: 1rem;
}

.LocationTable table {
    /*border: solid 1px blue;*/
}

.LocationTable th {
    padding: 0.5rem;
    border-right: solid 1px gray;
    font-weight: bold;
}

.LocationTable td {
    padding: 0.5rem;
    border: solid 1px gray;
    background: papayawhip;
}