.FileTable {
    padding: 1em;
}

.FileTable table {
    border: solid 2px gray;
}

.FileTable tr:first-child th {
    border-top: 1px solid gray;
}

.FileTable th {
    padding: 0.25em 0.5em;
    border-right: solid 1px gray;
    font-weight: bold;
}

.FileTable td {
    padding: 0.25em 0.5em;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

.FileTable td.newLocation {
    border-top: 2px solid gray;
}
